:root[data-theme='dark'] {
  --background-color: #808080;
  --background-color-lighter: #a0a0a0;
  --background-color-lighter-alt: #c0c0c0;
  --background-color-darker: #606060;
  --background-color-darker-alt: #404040;
  --background-color-accent: #1a1a1a;
  --border-color: #333333;
  --drop-shadow: rgba(0, 0, 0, 0.2);
  --text-color: #030303;
  --text-color-header: #282828;
  --text-color-header-accent: #131313;
  --link-color: #189ba9;
  --link-color-hover: #1aa7b7;
  --header-gradient-degrees: 300deg;
  --focus-color: #00ffff;
  --error-gradient-accent: black;
}
