#feature-project {
  width: inherit;
}

.project-minimal {
  display: flex;
  width: clamp(600px, 75vw, 1300px);
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color-lighter-alt);
  box-shadow: 0 0 5px var(--drop-shadow);
  cursor: pointer;
  transition:
    background-color 0.5s ease-in-out,
    border 0.5s ease-in-out;

  &:active {
    background-color: var(--background-color);
  }

  img {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    pointer-events: none;
  }
}

#preview-card {
  display: flex;
  flex-direction: row;
  gap: 7px;

  h3,
  p {
    margin: 0;
  }

  a {
    color: var(--link-color);
    text-decoration: none;
  }
}

#project,
#project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  top: -60px;
  width: clamp(720px, 90vw, 1440px);
  margin: 20px auto;
  transition:
    background-color 0.5s ease-in-out,
    border 0.5s ease-in-out;
}

#project {
  button {
    background-color: var(--background-color-lighter-alt);
    color: var(--button-text-color);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--drop-shadow);
    padding: 5px 10px;
    cursor: pointer;
    transition:
      background-color 0.5s ease-in-out,
      border 0.5s ease-in-out;
  }

  button:active {
    background-color: var(--background-color);
  }

  #project-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

#header-card {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px;
  background-color: var(--background-color-lighter-alt);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--drop-shadow);
  transition:
    background-color 0.5s ease-in-out,
    border 0.5s ease-in-out;

  img {
    max-width: 100px;
    pointer-events: none;
  }

  .project-card-info {
    flex-grow: 1;

    p {
      margin: 0;
    }
  }

  .project-card-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    #latest-download {
      display: flex;
      flex-direction: column;
      gap: 5px;
      text-align: center;
      background-color: var(--link-color);
      border-radius: 5px;
      box-shadow: 0 0 5px var(--drop-shadow);
      padding: 5px;
      color: var(--text-color-header);

      &:hover {
        background-color: var(--link-color-hover);
      }

      .latest-download-text {
        font-weight: bold;
      }

      .latest-download-version {
        font-weight: lighter;
        font-size: 0.8em;
      }
    }
  }

  #back-button {
    padding: 5px;
    font-size: 1.75em;
    font-weight: lighter;
  }

  #back-button:hover {
    border: 1px solid var(--link-color);
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
  }

  #back-button:after {
    content: '/';
    padding-left: 5px;
    color: gray;
  }

  h2 {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
  }

  a {
    color: var(--link-color);
    text-decoration: none;
  }
}

#main-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  padding: 10px;
  background-color: var(--background-color-lighter-alt);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--drop-shadow);
  transition:
    background-color 0.5s ease-in-out,
    border 0.5s ease-in-out;

  * {
    max-width: 100%;
  }

  #project-description {
    text-align: left;
    word-wrap: break-word;
  }

  #project-features {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
  }

  #project-features h3 {
    margin: 0;
  }

  #project-features ul {
    margin: 0;
    padding: 0;
  }

  #project-features li {
    list-style-type: none;
  }

  #project-features a {
    color: var(--link-color);
    text-decoration: none;
  }
}

#side-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-card {
  width: clamp(250px, 25vw, 400px);
  padding: 10px;
  background-color: var(--background-color-lighter-alt);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--drop-shadow);
  transition:
    background-color 0.5s ease-in-out,
    border 0.5s ease-in-out;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  table {
    width: 100%;
  }
}
